*{margin:0;padding:0;box-sizing: border-box;}

:root{
    --blue-midnight:#145DA0;
    --blue-navy : #003B73;
    --blue : #2E8BC0; 
    --main-border : #222;
}

button:hover{ opacity: .7;}
.line-throught{text-decoration: line-through;}
body{
    background-color: #f5f5f5;
}
.todo {
    position: relative;
    max-width: 600px;
    margin: auto;
    margin-top: 4rem;
    border : 10px solid var(--main-border) ;
    border-radius: 25px ;
}
.todo-pin {
    position: absolute;
    color : #fff;
    display: block;
    width: 40px;
    height: 100px;
    border: 10px solid #222;
    border-radius : 15PX;
    background-color: #fff;
    transform: translate(-50%,-50%);
}
.todo-pin:nth-child(1) { left : 20%; }
.todo-pin:nth-child(2) { left :40%; }
.todo-pin:nth-child(3) { left : 60%; }
.todo-pin:nth-child(4) { left : 80%; }
.todo-head{
    background-color: #f2593b;
    padding: 2rem  1.5rem .5rem 1.5rem ;
    color : #fff;
    border-bottom: 10px solid var(--main-border);
    border-radius: 10px 10px 0 0;

}
.todo-head-title{ position: relative;  margin-top: 2.25rem; text-align: center;}
.todo-head-title img {
    position: absolute;
    right: 0 ;
    width: 30px;
    height: 30px;
    cursor:pointer;
}
.todo-head-form{
    max-width: 600px;
    margin: auto;
    margin-top: 1.5rem;
    display: flex;
}
.todo-head-form input {
    flex: 1;
    border: none;
    padding: 1rem 1.25rem;
    font-size: 1.2rem;
    border-bottom: 4px solid var(--blue);
    background-color: transparent #f5f5f5;
    border-radius: 5px;
    outline: none;
}
.todo-head-form input:hover {border-bottom-color: var(--blue-midnight);}

.todo-head-form button {
    padding:  1rem 1.25rem;
    background-color: var(--blue-navy) ;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: .5rem;
    color : #fff;
}

.todo-body {
    max-width: 700px;
    margin: auto;
    box-shadow:  0 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0 0  12px 12px;
}


.todo-body-tabs{
    display: flex;
    border-bottom: 5px solid #222;
    
}
.todo-body-tabs .left , .todo-body-tabs .right{
    width: 50%;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
}
.todo-body-tabs .left{
    border-right: 2px solid #222;
    background-color: #f0f0f0;
    border-bottom: 3px solid #f0f0f0;
}
.todo-body-tabs .right{
    border-bottom: 2px solid #222;
}
.todo-body-tabs img {
    width: 64px;
    height: 64px;
}

.todo-body-tabs .active {background-color: #e2e2e2;}


.todo-body-items .item {
    position: relative;
    font-size: 1.2rem;
    border-radius: 2px;
    color : #000;
    margin-top: 1.5rem;
    padding: 1.25rem 0 ;
    display: flex;
    justify-content: space-between;
}
.todo-body-items .item-input {
    padding: .6rem .2rem;
    border: none;
    border-bottom: 3px solid #f2593b;
    background: none;
    outline: none;
    font-size: 1.2rem;
    cursor: default;
}

.todo-body-items .item div:nth-child(1){
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.todo-body-items .item-icon{ width: 30px; margin-right: 1rem;}

.todo-body-items .item-delete{
    height: 100%;
}

.d-none{
    display: none;
}


